<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylecadastro.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
                <!-- Título dentro do quadro de login -->
                <div class="panel-title text-center">
                    <h1 class="title">Oficina Mecânica</h1>
                    <hr />
                </div>
                
                <form class="form-horizontal" method="post" action="#">
                    <div class="form-group">
                        <label for="usuario" class="cols-sm-2 control-label">Usuário</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Digite seu nome de usuário" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">E-mail</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu e-mail" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="senha" class="cols-sm-2 control-label">Senha</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="senha" placeholder="Digite sua senha" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmar_senha" class="cols-sm-2 control-label">Confirme a Senha</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="confirm" id="confirmar_senha" placeholder="Confirme sua senha" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Cadastrar</button>
                    </div>
                    <div class="login-register">
                        <a href="login">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>